@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Global Styles */
body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

h1 {
    color: #007BFF; 
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-top: 5px;
    color: #555;
}


.main, .form-box {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    box-shadow: 0 0 10px rgba(36, 67, 214, 0.8); 
}

/* Form Fields */
label {
    display: block;
    margin-bottom: 8px;
    font-size: 17px;
    color: #007BFF; 
    font-weight: 600;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 16px;
    border-radius: 10px;
}
/* Submit Button */
button[type="submit"] {
    background-color: #007BFF; 
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: bold; 
    transition: 0.3s ease-in-out; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

button[type="submit"]:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

button[type="submit"]:active {
    background-color: #003d7a; 
    transform: scale(1);
}


#success-message h3 {
    color: #28a745; 
}

#success-message p {
    color: #555; 
}
